<%- include('base-top') %>
<div class="product-list">
  <h2>Shopping carts</h2>
  <% if (cart && cart.items && cart.items.length > 0) { %>
    <% cart.items.forEach(item => { %>
      <div class="product-item">
        <div class="info">
          <p>Product: <%= item.productId.name %></p>
          <p><%= item.productId.price %>€</p>
          <% if (item.productId.description) { %>
            <p>Description: <%= item.productId.description %></p>
          <% } %>
        </div>
        <div class="total">Total: <%= item.productId.price * item.count %>€</div>
      </div>
      <form action="/api/cart/edit" method="POST">
        <input type="hidden" name="productId" value="<%= item.productId._id %>" />
        <input type="number" name="count" id="count" value="<%= item.count %>" min="1" max="<%= item.productId.inventory %>" />
        <button type="submit">Update Count</button>
        <!-- Include the CSRF token as a hidden input -->
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      </form>

      <form action="/api/cart/remove" method="POST">
        <input type="hidden" name="productId" value="<%= item.productId._id %>" />
        <button type="submit">Delete</button>
        <!-- Include the CSRF token as a hidden input -->
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      </form>
    <% }); %>
  <% } %>
</div>
<a href="/view/checkout"><button>Go to checkout</button></a>
<%- include('base-bottom') %>