<%- include('base-top') %>
<div class="product-list">
  <h2>Checkout - Total: <%= total %>€</h2>
  <% if (cart && cart.items && cart.items.length > 0) { %>
    <% cart.items.forEach(item => { %>
      <div class="product-item">
        <div class="info">
          <p>Product: <%= item.productId.name %></p>
          <p><%= item.productId.price %>€</p>
          <% if (item.productId.description) { %>
            <p>Description: <%= item.productId.description %></p>
          <% } %>
        </div>
        <div>
          <p class="count">Count: <%= item.count %></p>
          <p class="total">Total: <%= item.productId.price * item.count %>€</p>
        </div>
      </div>
    <% }); %>
  <% } %>
</div>
<form action="/api/checkout" method="POST">
  <button type="submit">Confirm checkout</button>
    <!-- Include the CSRF token as a hidden input -->
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
</form>
<a href="/view/cart"><button>Back to cart</button></a>
<%- include('base-bottom') %>