<%- include('base-top') %>
<div class="login-form">
  <h2>Reset Password</h2>
  <form action="/api/password-reset" method="POST">
    <input type="hidden" name="token" value="<%= token %>" />
    <input type="hidden" name="email" value="<%= email %>" />

    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="password"
      required
    />
    <label for="confirmPassword">Confirm Password:</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      placeholder="confirm password"
      required
    />
    <button type="submit">Reset Password</button>
    <!-- Include the CSRF token as a hidden input -->
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  </form>
  <a href="/view/login"><button class="secondary">Login</button></a>
</div>
<%- include('base-bottom') %>
