<%- include('base-top') %>
<div class="product-list">
  <h2>Products</h2>
  <div class="product-item">
    <div class="counter">
      <p class="<% if (product.inventory === 0) { %>out<% } %>"><%= product.inventory %></p>
    </div>
    <div class="info">
      <p>Product: <%= product.name %></p>
      <p><%= product.price %>€</p>
      <% if (product.description) { %>
        <p>Description: <%= product.description %></p>
      <% } %>
      
      <a href="/view/edit-product/<%= product.id %>">
        <button>Edit Product</button>
      </a>
       
      <% if (product.inventory > 0) { %>
        <form action="/api/cart/add" method="POST">
          <input type="hidden" name="productId" value="<%= product.id %>" />
          <input type="number" name="count" id="count" value="1" min="1" max="<%= product.inventory %>" />
          <button type="submit">Add to Cart</button>
        </form>
      <% } %>
    </div>
  </div>
</div>
<%- include('base-bottom') %>