<%- include('base-top') %>
<div class="product-list">
  <h2>Products</h2>
  <div class="product-item">
    <div class="counter">
      <p class="<% if (product.inventory === 0) { %>out<% } %>"><%= product.inventory %></p>
    </div>
    <div class="info">
      <p>Product: <%= product.name %></p>
      <p><%= product.price %>€</p>
      <% if (product.description) { %>
        <p>Description: <%= product.description %></p>
      <% } %>
      <a href="/view/edit-product/<%= product.id %>">Edit Product</a>
    </div>
  </div>
</div>
<%- include('base-bottom') %>