<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{#if pageTitle}}
        {{pageTitle}}
      {{else}}
        ExpressJS Application
      {{/if}}</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li class="{{classComp page 'root' 'active' 'inactive'}}">
            <a href="/">Home</a>
          </li>
          <li class="{{classComp page 'user' 'active' 'inactive'}}">
            <a href="/view/user">Add User</a>
          </li>
          <li class="{{classComp page 'product' 'active' 'inactive'}}">
            <a href="/view/product">Add Product</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>